body{
    margin: 0px;
   font-family: "Poppins", sans-serif;
}
.nav{
    height: 80px;
    width: 100%;
}
.logo{
    margin-left: 30px;
    font-weight: bold;
}
.bg-dark1{
    background-color: rgba(0, 0, 0, 0.558);
}
.btn1{
    width: 140px;
    margin: 10px 5px 10px 90px;
}
.bgimg{
    height: 670px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background-color: rgba(0, 0, 0, 0.678);
    height: 670px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} 
.content1{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   flex-direction: column;
}
.content1>div>h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
}
.content1>div>p{
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}
.icon-box{
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    color: #fff;
}
.icon-box>h3{
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    line-height: 26px;
}
.icon-box:hover{
    border:2px solid rgb(240, 181, 34);
    box-shadow: rgb(239, 186, 53);
    color: rgb(241, 186, 48);
}
.about>h3{
    font-size: 28px;
    font-weight: 700;
    color: rgb(68, 68, 68);
}
.about-img{
    max-width: 100%;
    height: auto;
}
.icon-box>svg{
    height: 50px; 
    width:50px; 
    margin-top:5px;
}
.icon-box>svg>path{
   fill: rgb(241, 186, 48);
}
.icon-box1>svg>path{
    fill: rgb(241, 186, 48);
}
.services{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}
.service{
    margin-top: -20px;
}
.service>h5{
    font-size: 20px;
}
.service>p{
    font-size: 13px;
}
.service-title>h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
}
.service-title>h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ffde9e;
    margin: 4px 12px;
}
.service-title>p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
}

.card>.c-icon{
    margin: 40px auto;
    width: 64px;
    height: 64px;
    background-color: #ffc551e2;
    fill: #222121ee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card>.c-icon>svg{
    width: 25px;
}
.card-body>h4{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
    color: #151515;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.card-body>h4:hover{
    color: #ffc551e2;
}
.card-body>p{
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.card{
    transition: box-shadow .3s;
    height: 300px;
    background-color: #fff;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.csection{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(/images/cta-bg.jpg) fixed center center;
    background-size: cover;
    height: 280px;
    overflow: hidden;
}
.cta>h3{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    font-family:"Raleway", sans-serif;
    display: flex;
    flex-flow: column;
    margin-top: 90px;
}
.cta>p{
    color: #fff;
    font-family:"Raleway", sans-serif;
}
#portfolio-filters{
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
#portfolio-filters>.filter-active{
    color: #151515;
    background: rgb(255, 196, 81);
}
#portfolio-filters>li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#portfolio-filters>li:hover{
    background-color: rgb(255,196,81);
}
.portfolio-info{
    opacity: 0;
    position: absolute;
    z-index: 3;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 20px;
}
.portfolio-info>h4{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway", sans-serif;

}
.portfolio-info>p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.portfolio-info>.portfolio-links{
    text-align: center;
    z-index: 4;
}
.portfolio-links>a{
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.counts>h3{
    font-weight: 700;
    font-size: 34px;
    color: #151515;
    font-family: "Raleway", sans-serif;
    padding-left: 30px;
}
.counts>p{
    color: #151515;
    font-size: 16px;
    font-family:"Raleway", sans-serif;
    padding-left: 30px;
    font-weight: 500;
}
.hclient>h3{
    font-weight: 700;
    font-size: 36px;
    color: #151515;
    font-family: "Raleway", sans-serif;
}
.hclient>p{
    color: #151515;
    font-size: 14px;
    font-family:"Raleway", sans-serif;
}
.csection1{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(/images/testimonials-bg.jpg) fixed center center;
    background-size: cover;
    height: 420px;
    overflow: hidden;
}
.card-body>h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #151515;
    text-align: left;
}
.card-body{
    padding: 25px 15px;
}
.card-body>p{
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
    text-align: left;
}
.team{
    height: 340px;
}
.cntct{
    margin-top:100px ;
}
.email-form {
    width: 100%;
    background: #fff;
}
.email-form .form-group {
    padding-bottom: 8px;
}
.email-form input, .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
.email-form input:focus, .email-form textarea:focus {
    border-color: #ffc451;
  }
.email-form input {
    height: 44px;
  }
.email-form textarea {
    padding: 10px 12px;
  }
.email-form button[type=submit] {
    background: #ffc451;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
  }
.email-form button[type=submit]:hover {
    background: #ffcd6b;
  }
  .c-icon1{
    margin: 14px 0;
    width: 57px;
    height: 55px;
    background-color: #ffc551e2;
    fill: #222121ee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.info h4{
        padding: 0 0 0 90px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: -60px;
        color: #151515;
}
.info p {
    padding: 0 0 0 90px;
    margin-bottom: 0;
    font-size: 14px;
    color: #484848;
  }
  .info .address{
    margin-bottom: -5px;
  }
  .email{
    margin-bottom: 14px;
  }
  footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer .footer-top {
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  #footer .footer-top .footer-info h3 span {
    color: #ffc451;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #ffc451;
    color: #151515;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffc451;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #ffc451;
  }
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffc451;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #ffcd6b;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }