body{
    margin: 0px;
   font-family: "Poppins", sans-serif;
}
.logo{
    margin-left: 40px;
    font-weight: bold;
}
.bg-dark1{
    background-color: rgba(0, 0, 0, 0.558);
}
.btn1{
    width: 140px;
    margin: 10px 5px 10px 180px;
}
.bgimg{
    height: 1280px;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
    background-color: rgba(0, 0, 0, 0.678);
    opacity: 0.7;
    height: 670px;
    background-blend-mode: darken;
} 
.content1{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   flex-direction: column;
}
.content1>div>h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
}
.content1>div>p{
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}
.icon-box{
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    color: #fff;
}
.icon-box>i{
    font-size: 20px;
}
.icon-box:hover{
    border:2px solid rgb(240, 181, 34);
    box-shadow: rgb(239, 186, 53);
    color: rgb(241, 186, 48);
}