body{
    margin: 0px;
   font-family: "Poppins", sans-serif;
}
.nav{
    height: 80px;
    width: 100%;
}
.logo{
    margin-left: 30px;
    font-weight: bold;
}
.bg-dark1{
    background-color: rgba(0, 0, 0, 0.558);
}
.btn1{
    width: 140px;
    margin: 10px 5px 10px 90px;
}
.bgimg{
    height: 670px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background-color: rgba(0, 0, 0, 0.678);
    height: 670px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} 
.content1{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   flex-direction: column;
}
.content1>div>h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
}
.content1>div>p{
    color: #fff;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}
.icon-box{
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    color: #fff;
}
.icon-box>h3{
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    line-height: 26px;
}
.icon-box:hover{
    border:2px solid rgb(240, 181, 34);
    box-shadow: rgb(239, 186, 53);
    color: rgb(241, 186, 48);
}
.about>h3{
    font-size: 28px;
    font-weight: 700;
    color: rgb(68, 68, 68);
}
.about-img{
    max-width: 100%;
    height: auto;
}
.icon-box>svg{
    height: 50px; 
    width:50px; 
    margin-top:5px;
}
.icon-box>svg>path{
   fill: rgb(241, 186, 48);
}
.icon-box1>svg>path{
    fill: rgb(241, 186, 48);
}
.services{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}
.service{
    margin-top: -20px;
}
.service>h5{
    font-size: 20px;
}
.service>p{
    font-size: 13px;
}
.service-title>h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
}
.service-title>h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ffde9e;
    margin: 4px 12px;
}
.service-title>p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
}
.card>.c-icon{
    margin: 40px auto;
    width: 64px;
    height: 64px;
    background-color: #ffc551e2;
    fill: #222121ee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card>.c-icon>svg{
    width: 25px;
}
.card-body>h4{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
    color: #151515;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.card-body>h4:hover{
    color: #ffc551e2;
}
.card-body>p{
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.card{
    transition: box-shadow .3s;
    height: 350px;
    background-color: #fff;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.csection{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(/images/cta-bg.jpg) fixed center center;
    background-size: cover;
    height: 280px;
    overflow: hidden;
}
.cta>h3{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    font-family:"Raleway", sans-serif;
    display: flex;
    flex-flow: column;
    margin-top: 90px;
}
.cta>p{
    color: #fff;
    font-family:"Raleway", sans-serif;
}
#portfolio-filters{
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
#portfolio-filters>.filter-active{
    color: #151515;
    background: rgb(255, 196, 81);
}
#portfolio-filters>li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#portfolio-filters>li:hover{
    background-color: rgb(255,196,81);
}
.portfolio-info{
    opacity: 0;
    position: absolute;
    z-index: 3;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 20px;
}
.portfolio-info>h4{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway", sans-serif;

}
.portfolio-info>p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.portfolio-info>.portfolio-links{
    text-align: center;
    z-index: 4;
}
.portfolio-links>a{
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.counts>h3{
    font-weight: 700;
    font-size: 34px;
    color: #151515;
    font-family: "Raleway", sans-serif;
    padding-left: 30px;
}
.counts>p{
    color: #151515;
    font-size: 16px;
    font-family:"Raleway", sans-serif;
    padding-left: 30px;
    font-weight: 500;
}
.hclient>h3{
    font-weight: 700;
    font-size: 36px;
    color: #151515;
    font-family: "Raleway", sans-serif;
}
.hclient>p{
    color: #151515;
    font-size: 14px;
    font-family:"Raleway", sans-serif;
}
.csection1{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(/images/testimonials-bg.jpg) fixed center center;
    background-size: cover;
    height: 420px;
    overflow: hidden;
}
.card-body>h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #151515;
    text-align: left;
}
.card-body{
    padding: 25px 15px;
}
.card-body>p{
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
    text-align: left;
}
.team{
    height: 340px;
}
.cntct{
    margin-top:100px ;
}